:root {
  --rotation: 5deg;
  --scale-growth: 1.2;
  --btn-size: 5em;
}

.button {
  all: unset;
  position: relative;
  background-color: #0000;
  transition: background-color var(--animation-speed) var(--animation-function);
  width: calc(var(--btn-size) * 1.3);
  height: fit-content;
  border-radius: 10%;
  text-align: center;
  cursor: var(--pointer-style);
  user-select: none;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.image-frame {
  padding: 15px;
  background-color: var(--item-color);
  border-radius: 25%;
  width: var(--btn-size);
  height: var(--btn-size);
  transition:
    border-radius var(--animation-speed) var(--animation-function),
    background-color var(--animation-speed) var(--animation-function);
}

@keyframes wiggle {
  0% {
    transform: rotate(-25deg);
  }
  17% {
    transform: rotate(25deg);
  }
  33% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
  67% {
    transform: rotate(-3deg);
  }
  83% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button:hover {
  background-color: var(--menu-color-1);
}

.btn-selected > .image-frame > .image-anim > img.image-button {
  transform: scale(1.3);
}

.button:hover > .image-frame,
.btn-selected > .image-frame {
  border-radius: 15%;
}

.image-anim {
  display: inline-block;
  transform: rotate(0deg);
}

.button:hover:not(.btn-selected) > .image-frame > .image-anim.img-btn-wiggle {
  animation: wiggle calc(var(--animation-speed) * 3) var(--animation-function) 1;
  animation-fill-mode: both;
}

.image-button {
  width: var(--btn-size);
  height: var(--btn-size);
  margin: 0;
  transform: scale(1);
  transition: transform var(--animation-speed) var(--animation-function);
}

.button:hover:not(.btn-selected) > .image-frame > .image-anim > img.image-button {
  transform: scale(var(--scale-growth));
}

.button > p {
  display: table-cell;
  margin: 0;
  white-space: normal;
  font-weight: bold;
  transform: scale(1);
  transition:
    transform var(--animation-speed) var(--animation-function),
    color var(--animation-speed) var(--animation-function);
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2em;
  height: 2.4em;
  vertical-align: middle;
}

.button.btn-selected > .image-frame {
  background-color: transparent;
}

.button.btn-selected > p {
  font-weight: bolder;
  transform: scale(1.1);
}
