.list-slime [data-overlayscrollbars-contents],
.list-food [data-overlayscrollbars-contents] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-slime,
.list-food {
    padding: 10px;
    background-color: var(--menu-color-1);
    border-radius: var(--border-size);
    transition: width var(--animation-speed) var(--animation-function),
    border-radius var(--animation-speed) var(--animation-function),
    background-color var(--animation-speed) var(--animation-function);
}

.list-food-first {
    border-top-left-radius: 0;
}

.list-food-last {
    border-top-right-radius: 0;
}

@media screen and (max-width: 1600px) {
    .list-slime [data-overlayscrollbars-contents],
    .list-food [data-overlayscrollbars-contents] {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .list-slime [data-overlayscrollbars-contents],
    .list-food [data-overlayscrollbars-contents] {
        grid-template-columns: 1fr 1fr;
    }
}

.list-slime {
    flex: 0 0 auto;
}

.list-food {
    margin: 0;
}

.box-presentation {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border-radius: var(--border-size);
    background-color: var(--menu-color-1);
    padding: var(--border-size);
}

.pedia-infos {
    display: grid;
    overflow: hidden;
    height: 100%;
    transition: height var(--animation-speed) var(--animation-function),
    padding var(--animation-speed) var(--animation-function);
    gap: var(--border-size);
}

.one-one-layout {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "image element-0"
    "image component";
}

.one-then-two-layout {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "image element-0 element-0"
    "image element-1 element-2"
    "image component component";
}

.one-two-layout {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "image element-0 element-1"
    "image component component";
}

.two-one-layout {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "image element-0"
    "image element-1"
    "image component";
}

.two-two-layout {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "image element-0 element-1"
    "image element-2 element-3"
    "image component component";
}

.info-box-base.element-0 {
    grid-area: element-0;
}

.info-box-base.element-1 {
    grid-area: element-1;
}

.info-box-base.element-2 {
    grid-area: element-2;
}

.info-box-base.element-3 {
    grid-area: element-3;
}

.hidden-infos > .pedia-infos {
    height: 0;
    padding: 0;
}

.image-title {
    position: relative;
    background-color: var(--item-color);
    border-radius: var(--border-size);
    padding: var(--border-size);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-area: image;
}

.info-title > h1,
.info-title > h2 {
    margin: 10px;
    background: transparent;
}

@keyframes gradientMove {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: -200% 50%;
    }
}

.info-title.slime-radiant > h1,
.info-title.slime-radiant > h2 {
    background: linear-gradient(
            -45deg,
            rgba(0, 138, 252, 1) 0%,
            rgba(255, 94, 201, 1) 10%,
            rgba(61, 5, 255, 1) 23%,
            rgba(123, 194, 114, 1) 45%,
            rgba(255, 242, 6, 1) 78%,
            rgba(244, 106, 230, 1) 88%,
            rgba(0, 138, 252, 1) 100%
    ) 0 50% / 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove calc(var(--animation-speed) * 10) linear infinite;
    transition: filter var(--animation-speed) var(--animation-function);
}

[data-theme="light"] .info-title.slime-radiant > h1,
[data-theme="light"] .info-title.slime-radiant > h2 {
    filter: drop-shadow(0px 0px 2px #444);
}

.info-title > h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.info-title > h2 {
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
}

.image-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.img-plort {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-radiant {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    transform: scale(1) rotate(0);
    transition: transform var(--animation-speed) var(--animation-function);
}

.btn-radiant:hover {
    transform: scale(1.2) rotate(0);
}

.img-plort,
.btn-radiant > img {
    width: 10vh;
    height: auto;
}

.img-main {
    bottom: var(--border-size);
    left: 50%;
    max-width: fit-content;
    max-height: 80%;
    transform: scale(1);
    transition: 0.1s var(--animation-function);
}

.img-main.slime-radiant {
    transform: scale(1.1);
}

@media (aspect-ratio < 16 / 9) {
    .img-main {
        max-width: 80%;
        max-height: fit-content;
    }
}

.interactive-box {
    border: none;
    cursor: var(--pointer-style);
    transition: color var(--animation-speed) var(--animation-function),
    background-color var(--animation-speed) var(--animation-function),
    border-radius var(--animation-speed) var(--animation-function);
}

.interactive-box:hover {
    border-radius: 10px;
}

.interactive-box > img {
    transition: transform var(--animation-speed) var(--animation-function);
}

.interactive-box:hover h3,
.interactive-box:hover h4 {
    color: var(--link-color);
}

.interactive-box:hover > img {
    transform: scale(1.2);
}

.arrow-btn {
    --btn-size: 2em;
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: absolute;
    left: calc(50% - var(--btn-size) / 4);
    transition: all var(--animation-speed) var(--animation-function);
    z-index: 10;
    cursor: var(--pointer-style);
}

.arrow-btn:hover > svg {
    fill: #888;
}

.arrow-btn > svg {
    fill: var(--text-color);
    width: var(--btn-size);
    height: auto;
    transition: fill var(--animation-speed) var(--animation-function);
}

.top-btn {
    bottom: 100%;
    transform: translate(-50%, 50%) rotate(180deg);
}

.bot-btn {
    bottom: 0;
    transform: translate(-50%, 50%) rotate(0deg);
}

.desc {
    background-color: var(--item-color);
    flex-grow: 10;
    margin: 0;
    border-radius: var(--border-size);
    height: 100%;
    padding: var(--border-size);
    transition: height var(--animation-speed) var(--animation-function),
    padding var(--animation-speed) var(--animation-function);
    overflow: auto;
    text-align: justify;
    font-size: var(--border-size);
}

.desc > p:last-child {
    padding-bottom: 0;
}

.desc-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    padding: 2px 5px;
    height: fit-content;
    border-radius: 1000px;
    background-color: #45537a;
}

.desc-title > img {
    height: 1.8em;
    width: auto;
}

.desc-title > h3 {
    font-size: 1.5em;
    color: white;
    margin: 0;
}

.desc > p {
    font-size: 1.5em;
    margin: 0;
    overflow: hidden;
    height: fit-content;
    padding: var(--border-size);
}

br {
    margin: 10px 0;
}

.hidden-desc {
    height: 0;
    padding: 0 var(--border-size);
    margin: 0;
    overflow: hidden;
}

.list-container {
    flex: 0 0 auto;
    width: fit-content;
    border-radius: var(--border-size);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 0;
}

.food-tabs,
.items-tabs {
    height: fit-content;
    flex: 0 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    gap: var(--border-size);
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.food-tabs {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.items-tabs {
    grid-template-columns: 1fr 1fr;
}

.presentation {
    width: 100%;
    height: 100%;
    max-height: 100%;
    transition: background-color var(--animation-speed) var(--animation-function),
    height var(--animation-speed) var(--animation-function);
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--border-size);
    padding: var(--border-size);
    background-color: var(--menu-color-1);
    border-radius: var(--border-size);
    box-sizing: border-box;
}

.component-container {
    grid-area: component;
}

.infos-box {
    grid-area: desc;
}

.no-image {
    visibility: hidden;
}
